InstaBytes-FrontEnd/.env
InstaBytes-FrontEnd/.cache/
InstaBytes-FrontEnd/.idea/
InstaBytes-FrontEnd/.nyc_output/
InstaBytes-FrontEnd/.parcel-cache/
InstaBytes-FrontEnd/.verdaccio_storage/
InstaBytes-FrontEnd/.vscode/*
InstaBytes-FrontEnd/!.vscode/extensions.json
InstaBytes-FrontEnd/coverage/
InstaBytes-FrontEnd/dist/
InstaBytes-FrontEnd/lib/
InstaBytes-FrontEnd/logs/
InstaBytes-FrontEnd/node_modules/
InstaBytes-FrontEnd/parcel-bundle-reports/
InstaBytes-FrontEnd/tmp

/target/

InstaBytes-FrontEnd/.DS_Store
InstaBytes-FrontEnd/npm-debug.log*
InstaBytes-FrontEnd/package-lock.json
InstaBytes-FrontEnd/sourcemap-info.json
InstaBytes-FrontEnd/yarn-debug.log*
InstaBytes-FrontEnd/yarn-error.log*
InstaBytes-FrontEnd/*.log
InstaBytes-FrontEnd/*.min.js

InstaBytes-Backend/node_modules/
InstaBytes-Backend/Keys.txt
InstaBytes-Backend/.env